*{
    font-family: 'Galada';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-family: 'Galda';
    font-size: 10px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

header {
    background-color: rgba(156, 203, 206, 0.37);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    height: auto;
    transition: 0.3s ease background color;
 }

 
.Brand h1{ 
    color:transparent;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(20, 83, 156, 0.678),  rgb(5, 52, 83), #052f6e, rgb(29, 87, 161));
    background-clip: text;
    align-items: center;
    justify-content: center;
}
.Brand h1{
    border: 3px solid rgb(4, 65, 94);
    padding: 5px 10px 5px 10px ;
    border-radius: 10px;
}

.Brand h1 span{
    color: transparent;
    background: linear-gradient(90deg, rgb(42, 170, 221), rgb(8, 75, 161), #1b71c2, rgb(11, 41, 80));
    background-clip: text;
}

.header nav ul{
    display: flex;
    padding: 0;
    color: rgb(13, 152, 170);
    justify-content: space-around;
    position: relative;
    align-items: center;
    padding-right: 15px;
    list-style-type: none;
    
}
.header nav ul a{
    color:rgb(219, 215, 217);
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 1.5rem;
    
}

.header nav ul a:hover{
    color: #084a94;
    font-size: 2rem;
}

#Home{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWFd1OrJtQn_qZ7TOzk9pTa4OMMROt64yfYA&s);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
#Home::after{
    content:'' ;
    z-index: -1;
    background: rgba(25, 26, 26, 0.466);
    height: 100vh;
    width: 100vw;
    margin: auto;
    position: absolute;
}

#Home h1{
    color: rgba(228, 235, 224, 0.959);
    font-size: 35px;
}

#Home h1 span{
    color:transparent ;
    background: linear-gradient(90deg, rgba(15, 64, 121, 0.938), rgb(68, 113, 165), rgb(15, 69, 124), rgb(33, 73, 121));
    background-clip: text;
}

#Home .button .CTA{
    display: inline-block;
    border: 3px solid  rgb(40, 95, 131);
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    padding: 5px 10px 5px 10px ;
    margin-top: 2rem;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(141, 168, 185), rgb(117, 156, 207), rgb(193, 196, 202), rgb(49, 117, 207));
    background-clip: text;
}

#Home .button .CTA:hover{
    color: rgb(14, 106, 134);
    background-color: rgb(57, 64, 70);
    font-size: medium;
}

#Home .button .CTA:active{
    transform: scaleX(90%) scaleY(70%) scaleZ(80%) ;
}