*{
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(12, 11, 11);
}

html{
    font-family: 'montserrat';
    font-size: 10px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

header {
    background-color: rgba(0 , 0 , 0 , 0.24);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    height: auto;
    transition: 0.3s ease background color;
 }

 .Brand h1{ 
    color:crimson;
    font-size: 3rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: inline-block;
}
.Brand h1{
    border: 3px solid rgb(231, 227, 235);
    padding: 5px 10px 5px 10px ;
    border-radius: 10px;
}

.Brand h1 span{
    color: whitesmoke;
    
}

.header nav ul{
    padding: 0;
    color: rgb(18, 172, 192);
    justify-content: space-around;
    position: relative;
    align-items: center;
    padding-right: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header nav ul a{
    color:rgb(219, 215, 217);
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.header nav ul a:hover{
    color: #e93f14;
    font-size: 2rem;
}

#Home{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq7gfQF-zGIpZv7Iwm1UnLvUboiYn3xgHCGA&s); 
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home::after{
    content: '';
    z-index: -1;
    background: rgba(0 , 0 , 0 ,0.7);
    margin: auto;
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
}

#Home h1{
    color: rgba(228, 235, 224, 0.959);
    font-size: 35px;   
}

#Home h1 span{
    color:crimson;
}

#Home .button .CTA{
    display: inline-block;
    border: 3px solid  rgb(220, 233, 235);
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    padding: 5px 10px 5px 10px ;
    margin-top: 2rem;
    border-radius: 10px;
    
}

#Home .button .CTA:hover{
    color: black;
    background-color: crimson;
    font-size: 2.7rem;
}

#Home .button .CTA:active{
    transform: scaleX(90%) scaleY(70%) scaleZ(80%) ;
}

#Academic{
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    z-index: 1;
    background-color: black;
    
}

#Academic .Academic-Top{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#Academic .Academic-Top h1{
    font-size: 4rem;
    color:transparent;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    background: linear-gradient(50deg, crimson , antiquewhite , crimson , antiquewhite , crimson , antiquewhite );
    background-clip: text;
}

#Academic .Academic-Top h1 span{
    color: antiquewhite;
}
#Academic .Academic-Top p{
    font-size: 1.4rem;
    margin-top: 5px;
    letter-spacing: 0.05rem;
    text-align: center;
    color: antiquewhite;
}

#Academic .Academic-bottom{
    display: flex;
    margin-top: 50px;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
}

#Academic .Academic-bottom .Academic-item{
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: crimson;
    position: relative;
    z-index: 1;
    margin: 10px;
    overflow: hidden;
    opacity: 80%;
    color: antiquewhite;
    height: 9cm;
    width: 5cm;

}

#Academic .Academic-bottom .Academic-item:hover{
    font-size: larger;
    opacity: 100%;
    height: 10cm;
    width: 6cm;
}

.Academic-item::after{
    content: '';
    z-index: -1;
    top: 0%;
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    background: linear-gradient(50deg, #29323c 0%, #485563 100%);
    left: 0%;
}
#Academic .Academic-bottom .Academic-item h1{
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#Academic .Academic-bottom .Academic-item p{
    font-size: 1.4rem;
    text-align: left;
}

#Academic .Academic-item .icon{
    flex: 0 0 auto;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;

}

#Glory{
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    margin: 0 auto;
    gap: 20px;
}

#Glory .Glory-Left{
    height: 360px;
    width: 250px;   
}

#Glory .Glory-Left .Glory-image{
    height: 100%;
    width: 100%;
    position: relative;

}

#Glory .Glory-Left .Glory-image::after{
    content: '';
    z-index: -1;
    top: 19px;
    left: -33px;
    height: 98%;
    width: 98%;
    position: absolute;
    border: 7px solid crimson;
}

#Glory .Glory-Left .Glory-image img{
    height: 360px;
    width: 250px;
    border: 2.5px double antiquewhite;
}

#Glory .Glory-Right{
    width: 50%;
}
#Glory .Glory-Right h1{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:transparent ;
    background: linear-gradient(50deg, crimson , antiquewhite , crimson , antiquewhite , crimson , antiquewhite );
    background-clip: text;
    text-transform: uppercase;
    font-weight: 300;
}

#Glory .Glory-Right h2{
    font-size: small;
    margin-top: 5px;
}

#Glory .Glory-Right p{
    font-size: 1.4rem;
    margin-top: 5px;
}

#Glory .Glory-Right .CTA{
    display: inline-block;
    border: 3px solid  rgb(220, 233, 235);
    font-size: 2rem;
     color: transparent;
    padding: 5px;
    margin-top: 2rem;
    border-radius: 5px 10px 5px 10px;
    background: linear-gradient(50deg, crimson , antiquewhite , crimson , antiquewhite , crimson , antiquewhite );
    background-clip: text;
}

#Glory .Glory-Right .CTA:hover{
    background: crimson;
    font-size: 2.7rem;
    color: antiquewhite;
}